BOT_TOKEN=###
DATABASE_URL=postgresql+asyncpg://postgres:123456@db:5432/support_bot

# Владелец канала -> в группу, открывать тоже группу
OWNER_DELIVER_CHAT_ID = -###
OWNER_THREAD_ID=###
OWNER_OPEN_URL=###

# Новый рекламодатель -> в личку мне, открыть мою личку
ADV_NEW_DELIVER_CHAT_ID= -###
ADV_NEW_THREAD_ID=###
ADV_NEW_OPEN_URL=###

# Действующий рекламодатель -> в личку Наде, открыть Надю
ADV_EXISTING_DELIVER_CHAT_ID= -###
ADV_EXISTING_THREAD_ID=###
ADV_EXISTING_OPEN_URL=###

OWNER_ACCOUNTING_OPEN_URL = ###
SUPPORT_OPEN_URL = ###

ADMIN_IDS=123,124
DEFAULT_MUTE_SECONDS=18000