BOT_TOKEN=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=support_bot
POSTGRES_HOST=db
POSTGRES_PORT=5432

OWNER_DELIVER_CHAT_ID=
OWNER_THREAD_ID=
OWNER_OPEN_URL=

ADV_NEW_DELIVER_CHAT_ID=
ADV_NEW_THREAD_ID=
ADV_NEW_OPEN_URL=

ADV_EXISTING_DELIVER_CHAT_ID=
ADV_EXISTING_THREAD_ID=
ADV_EXISTING_OPEN_URL=

OWNER_ACCOUNTING_OPEN_URL=
SUPPORT_OPEN_URL=

ADMIN_IDS=
DEFAULT_MUTE_SECONDS=18000